build/RectumRadioBook (copy).docx
build/RectumRadioBook.docx
mdsplit.py
*.~lock*
*.log
/*/*.docx
img/anatomy/fig2/Thumbs.db

/.quarto/
_book/

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
img/anatomy/fig1/annotation_mri_styled.png
img/anatomy/fig1/annotation_mri_styled.svg
img/anatomy/fig1/annotation_styled.png
img/anatomy/fig1/annotation_styled.svg
img/anatomy/fig1/image1_with_context.png
img/anatomy/fig1/Thumbs.db
*annot*.png
*contex*.png
*styled*
build/build.log

**/*.quarto_ipynb
questions.docx
