/* Anatomical layers */

.uterus,
.prostate,
.layer_1,
.normal_fill,
.mucosa {
    fill: #ffcc99;
    fill-opacity: 0.6;
    stroke:none;
    stroke-width: 0.5%;
}

.seminal_vesicles,
.bladder,
.normal,
.submucosa {
    fill: #66ccff;
    fill-opacity: 0.6;
    stroke: none;
    stroke-width: 0.5%;
}

.sphincter,
.muscularis {
    fill: #bf1506;
    fill-opacity: 0.6;
    stroke: none;
    stroke-width: 0.5%;
}

.vagina,
.lymph_node {
    fill: #7acb16;
    fill-opacity: 0.6;
    stroke: none;
}

.mesorectal_fascia,
.peritoneum,
.serosa {
    stroke: #7acb16;
    stroke-width: 0.5%;
}

.vessels {
    fill: #4169e1;
    stroke: none;
    stroke-width: 0.7%;
}
/* Tumor structures */
.emvi_node,
.tumor {
    fill: #bb1367;
    stroke: none;
    fill-opacity: 0.7;
}

.tumor_core {
    fill: #940202;
    fill-opacity: 0.7;
    stroke: none;
}

.tumor_part {
    fill: #ff6b6b;
    fill-opacity: 0.5;
    stroke: #dc143c;
    stroke-width: 0.5%;
}

.lymph_node_necrosis,
.tumor_part_2 {
    fill: #ffae52;
    fill-opacity: 0.5;
    stroke: #dc143c;
    stroke-width: 0.5%;
}

.tumor_part_3 {
    fill: #ff3838;
    fill-opacity: 0.5;
    stroke: #dc143c;
    stroke-width: 0.5%;
}


/* Anatomical landmarks */
.orientation_of_slices{
    stroke-dasharray: 50% 50%;
    stroke: #ffd700;
    fill: none;

}

.dentate_line {
    fill: none;
    stroke: #ff1493;
    stroke-opacity: 1;
    stroke-width: 0.3%;
    stroke-dasharray: 3,3;
    stroke-dashoffset: 0;
}

.distance_1 {
    fill: none;
    stroke: #14ff9d;
    stroke-opacity: 1;
    stroke-width: 0.3%;
    stroke-dasharray: 3,3;
    stroke-dashoffset: 0;
}

.distance_2{
    fill: none;
    stroke: #ffeb14;
    stroke-opacity: 1;
    stroke-width: 0.3%;
    stroke-dasharray: 3,3;
    stroke-dashoffset: 0;
}


.margo_analis{
    fill: none;
    stroke: #e714ff;
    stroke-opacity: 1;
    stroke-width: 0.3%;
    stroke-dasharray: 3,3;
    stroke-dashoffset: 0;
}

.tumor_border{
    fill: none;
    stroke: #d63131;
    stroke-opacity: 1;
    stroke-width: 0.3%;
    stroke-dasharray: 3,3;
    stroke-dashoffset: 0;
}


.levator_ani,
.muscle_1 {
    fill: #ff6633;
    fill-opacity: 0.5;
    stroke: #cc3300;
    stroke-width: 0.5%;
    stroke-opacity: 1;
}

.puborectalis,
.muscle_2 {
    fill: #3366ff;
    fill-opacity: 0.5;
    stroke: #0033cc;
    stroke-width: 0.5%;
    stroke-opacity: 1;
}

.anal_canal,
.muscle_3 {
    fill: #66ff33;
    fill-opacity: 0.5;
    stroke: #33cc00;
    stroke-width: 0.5%;
    stroke-opacity: 1;
}

.muscle_4 {
    fill: #ff3366;
    fill-opacity: 0.5;
    stroke: #cc0033;
    stroke-width: 0.5%;
    stroke-opacity: 1;
}






